<html>
    <head>
        <title>TempWatch</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body>
        <div>
            <canvas id="temp-chart"></canvas>
        </div>
        <script src="{{ url_for('static', filename='chartOps.js') }}"></script>
    </body>
</html>